<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.innowise.hackathon.data.UserRepository">

    <insert id="save" parameterType="com.example.entity.UserEntity">
        INSERT INTO user_info (id, chat_id, change_rate_trigger)
        VALUES (#{id}, #{chatId}, #{changeRateTrigger});

        <foreach collection="currencies" item="currency" separator=";">
            INSERT INTO user_currency (user_id, currency_id)
            VALUES (#{id}, #{currency.id});
        </foreach>
    </insert>

</mapper>